@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --accent: #00ff87;
    --surface: #0d0d0d;
  }
  html { scroll-behavior: smooth; }
  body { background-color: #0d0d0d; color: #ffffff; }
}
